@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Poppins;
  color: white;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
}
body .container .content .main-content h1 {
  font-weight: 600;
}
body .container .content button {
  color: hsl(257, 40%, 49%);
  background-color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.436);
}
body .container .content button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}
body .container .footer {
  display: flex;
}
body .container .footer div {
  width: 30px;
  height: 30px;
  border: 1.5px solid white;
  border-radius: 25px;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .footer div svg {
  width: 60%;
  height: 60%;
}
body .container .footer div:hover {
  border-color: hsl(300, 69%, 71%);
  fill: hsl(300, 69%, 71%);
}

@media (min-width: 375px) and (max-width: 1439px) {
  body .container {
    width: 375px;
    height: 100%;
    padding: 35px 40px 40px 40px;
    margin: 0 auto;
    background-image: url("source/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .container .header {
    margin-bottom: 70px;
  }
  body .container .header img {
    height: 40px;
  }
  body .container .content {
    text-align: center;
    margin-bottom: 80px;
  }
  body .container .content img {
    width: 100%;
    margin-bottom: 75px;
  }
  body .container .content .main-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  body .container .content .main-content p {
    font-size: 1.22rem;
    margin-bottom: 40px;
  }
  body .container .content .main-content button {
    width: 250px;
    height: 50px;
  }
  body .container .footer {
    justify-content: center;
  }
  body .container .footer div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 800px;
    padding: 60px 80px 40px 80px;
    background-image: url(source/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
  .container .header {
    margin-bottom: 80px;
  }
  .container .header img {
    height: 45px;
  }
  .container .content {
    display: flex;
    margin-bottom: 30px;
  }
  .container .content img {
    height: 500px;
    margin-right: 80px;
  }
  .container .content .main-content {
    margin-top: 50px;
  }
  .container .content .main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .container .content .main-content p {
    font-size: 1.06rem;
    margin-bottom: 30px;
    line-height: 2rem;
  }
  .container .content .main-content button {
    width: 200px;
    height: 55px;
    font-size: 1.2rem;
  }
  .container .footer {
    justify-content: right;
  }
  .container .footer #facebook,
  .container .footer #twitter,
  .container .footer #instagram {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
}